<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Cron Expression</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Field Name</th>
                    <th>Required</th>
                    <th>Allowed Values</th>
                    <th>Allowed Special Characters</th>
                </tr>
            </thead>
            <tbody>
                <tr class="js-jobs-list-row hover" ng-repeat="cron in crons">
                    <td>{{cron.name}}</td>
                    <td>{{cron.required}}</td>
                    <td>{{cron.allowed}}</td>
                    <td>{{cron.special}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <!--<thead>
                <tr>
                    <th>Symbol</th>
                    <th>Symbols Meaning</th>
                </tr>
            </thead>-->
            <tbody>
                <tr class="js-jobs-list-row hover" ng-repeat="item in symbols">
                    <td>{{item.symbol}}</td>
                    <td>{{item.meaning}}</td>
                </tr>
            </tbody>
        </table>
        <div class="btn-toolbar pull-right">
            <a class="btn btn-sm btn-default active" target="_blank"
               href="https://en.wikipedia.org/wiki/Cron">More...</a>
        </div>
    </div>
</div>